* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.container {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #999;
    text-align: center;
    transform-style: preserve-3d;
}

.image-box {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    transition: 0.5s;
}

.circle {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right bottom, #fa3535d2, #255bf0d3);
    z-index: -1;
    transition: 0.5s;
    transform: scale(0);
}

h3 {
    font-size: 25px;
    font-weight: 700;
    color: #333;
    transition: 0.5s;
}

p {
    font-size: 15px;
    color: #555;
    font-weight: 300;
    margin: 20px 0 30px;
    transition: 0.5s;
}

.btn-box {
    transition: 0.5s;
}

button {
    font-size: 18px;
    padding: 5px 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #555;
    margin: 0 5px;
    color: #fff;
    cursor: pointer;
}

button:hover,
button.active {
    background: #fa3535d2;
}

a {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    color: #fff;
    background: #fa3535d2;
    margin-top: 30px;
    transition: 0.5s;
}